<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h1>Error</h1>
    <% if (error.status === 404) { %>
        <p>Desculpe, a página que você está procurando não foi encontrada, problema seu, tá querido? Sabe o que é tentar fazer um site sem PC ou Notebook e ainda morar longe da escola e passar horas com fome só pra poder mexer num pc? Tipo, código leva tempo e demanda e passei meses sem um PC!</p>
    <% } else { %>
        <p>Ocorreu um erro inesperado no servidor.</p>
    <% } %>
</body>
</html>