<!DOCTYPE html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shop</title>
    <link rel="stylesheet" href="../stylesheets/firstPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- bootstrap links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- bootstrap links -->
    <!-- fonts links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <!-- fonts links -->
</head>
<body>
  <div class="all-content">
   
  <!--  -->
  <nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" id="logo"><img src="images/Mokas-logo-new.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="fa-solid fa-bars" style="color: #5c3a24; font-size: 27px;"></i></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="#about">Sobre Nós</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#nossosprodutos">Nossos Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#gallary">Galeria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#blogs">Blog</a>
          </li>
        </ul>
        <div class="d-flex">
          <a href="/login" class="btn" id="login-btn" style="color: inherit; text-decoration: none;">Login</a>
          <a href= "/cadastro" class="btn" id="register-btn" style="color: inherit; text-decoration: none;">Cadastro</a>

          <div class="dropdown">
          <a class="perfil" type="button" data-bs-toggle="dropdown" aria-expanded="false"> <img src="images/perfil.png"
           class="iconperfil" alt="perfil"></a>
           <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/suaconta">Sua conta</a></li>
            <li><a class="dropdown-item" href="/pedidos">Seus pedidos</a></li>
            <li><a class="dropdown-item" href="#">Recomendações pra você</a></li>
            <li><a class="dropdown-item" href="#">Configurações</a></li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- navbar -->

<!-- home section -->
   <section id="home">
    <div class="content">
      <h3>Sabor que Desperta, <br> Aroma que Encanta.</h3>
      <p>Conheça os nossos mais variados tipos e sabores de cafés.
         <br>Deguste todas as opções já!
      </p>
      <a href=" /mokashop" class="btn" id="shop-btn" style="color: inherit; text-decoration: none;">Shop</a>
    </div>
   </section>

<!-- home section -->



<!-- about section -->
<div class="about" id="about">
  <div class="container">
  <div class="heading">Sobre <span>Nós</span></div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <img src="./images/about.png" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <h3>O que torna nosso café especial?</h3>
        <p>Café é mais do que uma bebida; é uma experiência sensorial. É o calor que te abraça pela manhã, o aroma que desperta os sentidos e o sabor que renova a alma.
          <br><br>No entanto, sabíamos que havia algo mais a ser descoberto, algo que elevasse essa experiência a um novo patamar. Combinamos o melhor dos grãos brasileiros, conhecidos por sua rica diversidade de sabores, com a meticulosa técnica italiana.
          <br><br>O resultado? Um café que não é apenas uma bebida, mas uma celebração do momento. Elegante, autêntico e inesquecível. Venha viver essa experiência. Pegue seu café e sinta o sabor da perfeição em cada gole. Simples, mas extraordinário.
         </p>
         <a href="/sobreNos" class="btn" id="about-btn">Leia Mais</a>

        
        </div>
    </div>
  </div>
</div>
<!-- about section -->
<!-- Nossos Produtos -->
 <div class="nossosprodutos" id="nossosprodutos">
<section class="top-cards" id="produtos">
  <div class="heading4">Nossos Produtos</div>
  <div class="carousel-wrapper">
    <button class="carousel-btn prev-btn hidden">&lt;</button>
    <div class="carousel-container">
      <!-- Produtos -->
      <div class="card">
        <img src="./images/m1.png" alt="Produto 1">
      </div>
      <div class="card">
        <img src="./images/m2.png" alt="Produto 2">
      </div>
      <div class="card">
        <img src="./images/m3.png" alt="Produto 3">
      </div>
      <div class="card">
        <img src="./images/m4.png" alt="Produto 4">
      </div>
      <div class="card">
        <img src="./images/m5.png" alt="Produto 5">
      </div>
      <div class="card">
        <img src="./images/m6.png" alt="Produto 6">
      </div>
      <div class="card">
        <img src="images/freepik__adjust__78186.png" alt="Produto 5">
      </div>
      <div class="card">
        <img src="images/freepik__adjust__85414.png" alt="Produto 6">
      </div>
      <div class="card">
        <img src="images/freepik__expand__83894.png" alt="Produto 5">
      </div>
    </div>
    <button class="carousel-btn next-btn">&gt;</button>
  </div>
</section>
</div>
<!-- Nossos Produtos-->
      
<!-- our gallary -->
<div class="container" id="gallary">
  <h1>Galeria de <span>Imagens</span></h1>
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-4 py-3 py-md-0">
      <div class="card">
        <img src="./images/image1.png" alt="">
      </div>
    </div>
    <div class="col-md-4 py-3 py-md-0">
      <div class="card">
        <img src="./images/image2.png" alt="">
      </div>
    </div>
    <div class="col-md-4 py-3 py-md-0">
      <div class="card">
        <img src="./images/image3.png" alt="">
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-4 py-3 py-md-0">
      <div class="card">
        <img src="./images/image4.png" alt="">
      </div>
    </div>
    <div class="col-md-4 py-3 py-md-0">
      <div class="card">
        <img src="./images/image5.png" alt="">
      </div>
    </div>
    <div class="col-md-4 py-3 py-md-0">
      <div class="card">
        <img src="./images/image6.png" alt="">
      </div>
    </div>
  </div>
</div>
<!-- our gallary -->

<!-- contact -->
<section class="contact" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
       <div class="heading6">Fale <span>Conosco</span></div>

       <p>Espaço disponível para retornamos um contato para tratar sobre
        <br>outras informações, dúvidas e novas oportunidades.
       </p>

       <input class="form-control" type="text" placeholder="Nome" aria-label="default input example"><br>
       <input class="form-control" type="email" placeholder="Email" aria-label="default input example"><br>
       <input class="form-control" type="number" placeholder="Número" aria-label="default input example"><br>
       <button id="contact-btn">Enviar Mensagem</button>
      </div>
      <div class="col-md-5" id="col">
        <h1>Informações</h1>
        <p><i class="fa-regular fa-envelope"></i> mokascoffee@gmail.com</p>
        <p><i class="fa-solid fa-phone"></i> (89)90000-0000</p>
       <p><i class="fa-solid fa-building-columns"></i> Sede em Fortaleza - Ceará</p>
       <p>Demais informações para contato e a localização da nossa sede.</p>
      </div>
    </div>
  </div>

</section>
<!-- contact -->

   <!-- blogs -->
   <section class="blogs" id="blogs">
    <h1>Últimas <span>do blog</span></h1>

    <div class="container">

      <div class="row">

        <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <img src="./images/b1.png" alt="">
          <div class="card-body">
            <h3>Uma nova loja, um novo espaço</h3>
            <h5>Notícia / 26 Julho 2024</h5>
            <p>Uma nova e encantadora cafeteria chamada "Moka's Tallo" está prestes a abrir suas portas no coração da cidade. Substituindo um antigo estabelecimento, a nova cafeteria promete ser o ponto de encontro ideal para os amantes do café.</p>
            <button id="blog-btn">Mais informações</button>
          </div>
        </div>  
        </div>
        <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <img src="./images/b2.png" alt="">
          <div class="card-body">
            <h3>Um ótimo local para trabalhar</h3>
            <h5>Resenha / 25 Junho 2024</h5>
            <p>O "Moka's Tallo" não é apenas um ótimo lugar para apreciar um bom café, mas também um ambiente perfeito para trabalhar. Com mesas espaçosas, cadeiras confortáveis e Wi-Fi gratuito de alta velocidade, a cafeteria oferece tudo o que você precisa para um dia produtivo.</p>
            <button id="blog-btn">Mais informações</button>
          </div>
        </div>  
        </div>
        <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <img src="./images/b3.png" alt="">
          <div class="card-body">
            <h3>Vantagens do Trabalho com Café</h3>
            <h5>Artigo Informativo / 30 Março 2024</h5>
            <p>Tomar café enquanto trabalha oferece diversos benefícios. A cafeína presente no café ajuda a aumentar a concentração e a melhorar a memória, proporcionando um impulso mental. Além disso, o café pode melhorar o humor e reduzir o estresse, tornando o trabalho mais agradável.</p>
            <button id="blog-btn">Mais informações</button>
          </div>
        </div>  
        </div>
        
      </div>

    </div>


   </section>
   <!-- blogs -->

   <!-- footer -->
   <footer id="footer">
    <div class="footer-logo text-center"><img src="images/Mokas-logo-new.png" alt=""></div>
    <div class="socail-links text-center">
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-youtube"></i>
      <i class="fa-brands fa-pinterest-p"></i>
    </div>
    <div class="credite text-center">
        Designed By <a href="#"> MS Code</a>
    </div>
    <div class="copyright text-center">
      &copy; Copyright <strong><span>Moka's Tallo Coffee</span></strong>. Todos os direitos reservados
  </div>
</footer>
   <!-- footer -->

   <a href="#" class="arrow"><i><img src="./images/up-arrow.png" alt="" width="50px"></i></a>


  </div>
  <script>
const prevBtn = document.querySelector('.prev-btn');
const nextBtn = document.querySelector('.next-btn');
const carouselContainer = document.querySelector('.carousel-container');

// Calcula largura do item no carrossel
const itemWidth = () => carouselContainer.querySelector('.card').offsetWidth + 20; // Inclui o gap

// Estado inicial
let offset = 0;

// Botão próximo
nextBtn.addEventListener('click', () => {
  const totalWidth = carouselContainer.scrollWidth;
  const visibleWidth = carouselContainer.offsetWidth;

  if (offset + visibleWidth < totalWidth) {
    offset += itemWidth();
    carouselContainer.style.transform = `translateX(-${offset}px)`;
  }
});

// Botão anterior
prevBtn.addEventListener('click', () => {
  if (offset > 0) {
    offset -= itemWidth();
    carouselContainer.style.transform = `translateX(-${offset}px)`;
  }
});

// Exibe/esconde botões
const atualizarBotoes = () => {
  prevBtn.classList.toggle('hidden', offset === 0);
  nextBtn.classList.toggle(
    'hidden',
    offset + carouselContainer.offsetWidth >= carouselContainer.scrollWidth
  );
};

// Observa mudanças no tamanho do carrossel
new ResizeObserver(() => {
  atualizarBotoes();
}).observe(carouselContainer);

atualizarBotoes(); // Inicializa os botões
  </script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>