<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shop</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="imgs/Logo-Icon(Cópia).png">
    <link href="../stylesheets/mokashop.css" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <h5>Opções de Cafés</h5>
        <a href="#">Cappuccino</a>
        <a href="#">Latte</a>
        <a href="#">Americano</a>
        <a href="#">Expresso</a>
        <a href="#">Flat White</a>
        <a href="#">Café preto</a>
        <a href="#">Macchiatto</a>
        <a href="#">Mocha</a>
        <a href="#">Café Gelado</a>
    </div>

    <div class="main-content">
        <div class="order-status">
            <img src="images/food-tray-icon.png" alt="Order Status" width="30" height="30">
            <span>Nº de Pedidos</span>
            <span class="badge badge-pill badge-secondary">2</span>
        </div>
        <div class="text-center">
            <img src="images/Mokas-logo-Shop.png" class="logo">
        </div>
        <h2 class="text-center">Procure seu café favorito aqui..</h2>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Pesquisar">
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="images/Cappuccino-1.png" class="card-img-top" alt="Cinnamon and Cocoa">
                    <div class="card-body">
                        <h5 class="card-title">Cappucino</h5>
                        <p class="card-text">R$ 8,00</p>
                        <button class="btn btn-primary">Add ao carrinho</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="images/Latte-Coffe.jpg" class="card-img-top" alt="Drizzled with Caramel">
                    <div class="card-body">
                        <h5 class="card-title">Latte</h5>
                        <p class="card-text">R$ 8,00</p>
                        <button class="btn btn-primary">Add ao carrinho</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="images/Americano-coffe.jpg" class="card-img-top" alt="Bursting Blueberry">
                    <div class="card-body">
                        <h5 class="card-title">Americano</h5>
                        <p class="card-text">R$ 5,00</p>
                        <button class="btn btn-primary">Add ao carrinho</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="images/Espresso.jpg" class="card-img-top" alt="Matcha Latte">
                    <div class="card-body">
                        <h5 class="card-title">Expresso</h5>
                        <p class="card-text">R$ 4,00</p>
                        <button class="btn btn-primary">Add ao carrinho</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="images/Flat-White-Coffee.jpg" class="card-img-top" alt="Vanilla Latte">
                    <div class="card-body">
                        <h5 class="card-title">Flat White</h5>
                        <p class="card-text">R$ 10,00</p>
                        <button class="btn btn-primary">Add ao carrinho</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="images/Black-coffe_1_.jpg" class="card-img-top" alt="Vanilla Latte">
                    <div class="card-body">
                        <h5 class="card-title">Café Preto</h5>
                        <p class="card-text">R$ 3,00</p>
                        <button class="btn btn-primary">Add ao carrinho</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="images/Machiatto-coffe.jpg" class="card-img-top" alt="Vanilla Latte">
                    <div class="card-body">
                        <h5 class="card-title">Macchiato</h5>
                        <p class="card-text">R$ 6,00</p>
                        <button class="btn btn-primary">Add ao carrinho</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="images/Mocha-coffe.png" class="card-img-top" alt="Vanilla Latte">
                    <div class="card-body">
                        <h5 class="card-title">Mocha</h5>
                        <p class="card-text">R$ 10,00</p>
                        <button class="btn btn-primary">Add ao carrinho</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="images/cafe-gelado-3.jpeg" class="card-img-top" alt="Vanilla Latte">
                    <div class="card-body">
                        <h5 class="card-title">Café Gelado</h5>
                        <p class="card-text">R$ 8,00</p>
                        <button class="btn btn-primary">Add ao carrinho</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
