<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Perfil</title>
    <link rel="stylesheets" href="sobreNos.css">
    <meta charset="utf-8">
  </head>
  <body>
Página de perfil do usuário
  </body>
</html>