<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Título da página</title>
    <link rel="stylesheets" href="sobreNos.css">
    <meta charset="utf-8">
  </head>
  <body>
Sobre nós.
  </body>
</html>