body {
    background-color: #f8f9fa;
  }
  
  .form-container {
    max-width: 400px;
    width: 100%;
  }
  
  .signup-form .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-container .icon {
    max-width: 20px;
    margin-right: 10px;
  }
  
  .btn-custom {
    background-color: #C67C4E;
    border-color: #C67C4E;
    color: white;
  }
  
  .btn-custom:hover {
    background-color: #a6603b;
    border-color: #a6603b;
    color: white;
  }