body {
    font-family: Arial, sans-serif;
  }
  
  .text-center{
    color: #b2744c;
  }
  
  .sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    background-color: #f8f9fa;
    padding-top: 20px;
  }
  
  .sidebar h5 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sidebar a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
  }
  
  .sidebar a:hover {
    background-color: #ddd;
  }
  
  .main-content {
    margin-left: 200px;
    padding: 20px;
  }
  
  .card {
    margin: 10px 0;
  }
  
  .order-status {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: center;
  }
  
  .order-status span {
    margin-left: 5px;
  }
  
  .logo {
    max-width: 100px;
    margin-bottom: 20px;
  }
  
  .text-center {
    text-align: center;
  }
  .btn {
    background-color: #b2744c;
    border: none;
  }
  .btn:hover {
    background-color: #b2744c;
    color: white;
  }